.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#first{
  display: inline-block;
  text-align: center;
  padding: 10px;
  
}
#two{
  text-align: center;
  display: inline-block;
  padding: 10px;
}
#firstimage{
  width: 100%;
}
#createaccount{
  float: right;
  display: block;
  position: relative;
  right: 25px;
  top: 40px;
}
#login{
  float: left;
  display: block;
  position: relative;
  left: 25px;
  top: 40px;
}
#homeicon{
  display: block;
  position: relative;
  left: 27px;
  top: 180px;
}
.google-btn{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #ff5353;
  border-radius: 10px;
}


